<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989400266492-icshapeqe2lrjoauan682d6q3u67uv80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989400266492-icshapeqe2lrjoauan682d6q3u67uv80</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>989400266492-97u6ugr12mup27vukp4t25omvrvf3phn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADNl7fXauNU08KDc_2BYyth1ddsUPLMqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>989400266492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mo8.dev.social.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-4bb53</string>
	<key>STORAGE_BUCKET</key>
	<string>social-4bb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989400266492:ios:9ea85d8b437316a1cec979</string>
</dict>
</plist>